<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>todo express测试</title>
        <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/todo.css">
    </head>
    <body>
        <img src=images/背景.png>
        <img id='id-button-add' src=images/添加新事项.png>
        <img class="todo-prev" src=images/上一页.png>
        <img class="todo-next" src=images/下一页.png>
        <img class="todo-list" src=images/右上角图标.png>
        <span class="todo-title">todo List</span>
        <!-- todo 输入框 -->
        <form class="form-inline" role="form">
        	<div class="form-group">
        		<input type="text" class="form-control" id="name"
        			   placeholder="">
        	</div>
        </form>
        <div id="id-div-container-1" class="show">
        </div>
        <div id="id-div-container-2">
        </div>
        <div id="id-div-container-3">
        </div>
        <div id="id-div-container-4">
        </div>
        <div id="id-div-container-5">
        </div>
        <script src="js/todo.js"></script>
    </body>
</html>
